{% extends "layout.html" %}
{% block body %}
<script type="text/javascript">
function doSubmit() {
document.getElementById("buttonId").disabled=true;
document.getElementById("formId").submit();
}
</script>
<form action="{{ url_for('upload') }}" method=post class=add-entry enctype='multipart/form-data' id="formId">

	<div class="container">
		<table border="0" width="100%">
                    <tr>
                        <td valign="top">
							<div class="boxl">
								<dt><h3>Source:</h3></dt>
								<div class="boxrinput">
									<dd>FILE:<input type=file size=30 name=file ></dd>
									<dd>dev:<input type=checkbox checked =checked  size=30 name=dev >|
									test:<input type=checkbox checked =checked size=30 name=test ></dd>
								</div>
							</div>
						</td>
					</tr>
					 <tr>
                        <td colspan="2">
				<div class="boxb">
					<input type=submit value=部署 onclick="doSubmit()" id="buttonId">
				</div>
						</td>
		 		</tr>
		</table>
	</div>

  </form>

{% endblock %}
